workflows/01 - Support Intake & Triage.json
{
  "name": "01 - Support Intake & Triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:supportck"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "fb43ee06-656b-4f10-b64f-6aa8078a3260",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "dgxP8cbakEmlFjLB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "EQRpM4co0fjUQScA",
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "/projects/YS4XJco571paiFmW/datatables/EQRpM4co0fjUQScA"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "message_id",
              "keyValue": "={{ $json.message_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "8f91a59e-2480-4fc5-a023-0389fe5a860b",
      "name": "Skip If Already Processed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1798b77-9461-4f13-8bb4-394e9aa38b2a",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "3bce6c44-0ad7-47b5-8630-4ed1a8c74d08",
              "name": "sender",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "ec78d4a8-4d68-4dc7-a95f-df7a4ce88aba",
              "name": "subject",
              "value": "={{ $json.headers.subject }}",
              "type": "string"
            },
            {
              "id": "806d708f-9e1b-40ca-ba67-a49e00deec58",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "27f186c9-8581-44da-b74a-c592c9385b48",
              "name": "ticket_id",
              "value": "={{ 'TKT-' + $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "5f8e6d9f-c095-47da-b0f1-7405e2c35503",
              "name": "received_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "53ee11d0-c818-4977-b621-11063dbabce9",
      "name": "Normalize Ticket",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a support ticket classifier. Classify this customer email.\n\nCategories: billing, technical, account_access, product_question, complaint, other\nUrgency: low, medium, high, critical (critical = outage, data loss, security issue)\nSentiment: positive, neutral, negative\nanswerable: true only if this can be answered from documentation without human judgment (no refunds, no account changes, no legal issues)\nconfidence: 0 to 1, how sure you are about answerable\nreasoning: one short sentence explaining your decision\n\nFrom: {{ $json.sender }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "98c48771-5d7a-43df-96cd-04a7710d9331",
      "name": "Classify Ticket",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"account_access\",\n  \"urgency\": \"medium\",\n  \"sentiment\": \"negative\",\n  \"answerable\": true,\n  \"confidence\": 0.85,\n  \"reasoning\": \"Login issue, covered by docs\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        160
      ],
      "id": "fe8e06d7-36eb-4d9e-b18e-0c6c8349e59a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        624,
        160
      ],
      "id": "605f50e7-864b-4dda-86bb-53cfa6c7b08e",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "GMFwfsE9hwA0FvTA",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "EQRpM4co0fjUQScA",
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "/projects/YS4XJco571paiFmW/datatables/EQRpM4co0fjUQScA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "answerable": "={{ $json.output.answerable }}",
            "ticket_id": "={{ $('Normalize Ticket').item.json.ticket_id }}",
            "message_id": "={{ $('Normalize Ticket').item.json.message_id }}",
            "sender": "={{ $('Normalize Ticket').item.json.sender }}",
            "subject": "={{ $('Normalize Ticket').item.json.subject }}",
            "category": "={{ $json.output.category }}",
            "urgency": "={{ $json.output.urgency }}",
            "sentiment": "={{ $json.output.sentiment }}",
            "confidence": "={{ $json.output.confidence }}",
            "status": "new",
            "created_at": "={{ $now.toISO() }}",
            "body": "={{ $('Normalize Ticket').item.json.body }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "answerable",
              "displayName": "answerable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        976,
        0
      ],
      "id": "d0fe453c-49a8-44db-ac53-42d56b2d08e5",
      "name": "Insert row"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Classify Ticket').item.json.output.answerable === false || $('Classify Ticket').item.json.output.urgency === 'critical' || $('Classify Ticket').item.json.output.confidence < 0.7 }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "3d742478-eebc-4e55-ac3e-0eea1b0b0355"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Escalate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e45acb6-877d-4aeb-8a28-78e89e038164",
                    "leftValue": "={{ $('Classify Ticket').item.json.output.answerable }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto-Answer"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1104,
        -224
      ],
      "id": "6385dadf-9d31-416d-afaa-621505d1c452",
      "name": "Route Ticket"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=🚨 Ticket {{ $('Normalize Ticket').item.json.ticket_id }} From: {{ $('Normalize Ticket').item.json.sender }} Subject: {{ $('Normalize Ticket').item.json.subject }} Category: {{ $('Classify Ticket').item.json.output.category }} | Urgency: {{ $('Classify Ticket').item.json.output.urgency }} Reason: {{ $('Classify Ticket').item.json.output.reasoning }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        -240
      ],
      "id": "d8e57b94-625c-4400-9078-c021e30f3652",
      "name": "Send a text message",
      "webhookId": "bb0a9245-9818-4900-9a33-db931b82aa98",
      "credentials": {
        "telegramApi": {
          "id": "NXmwDm2dkd6Et2ne",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A customer sent this support email. Answer it using ONLY information from the knowledge_base tool. Always search the knowledge base before answering.\n\nRules:\n- If the knowledge base contains the answer: write a friendly, professional reply and set grounded=true\n- If the knowledge base does NOT contain the answer: set grounded=false and leave reply empty. Never invent information.\n- Sign off as \"Support Team\"\n\nFrom: {{ $json.sender }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1216,
        0
      ],
      "id": "cf1801a4-9d0c-46e0-9441-0a0f0b035b63",
      "name": "Draft Reply",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply\": \"Full email reply text here\",\n  \"grounded\": true,\n  \"confidence\": 0.9\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1360,
        208
      ],
      "id": "e7fcb3f3-baa4-447c-b8b2-77b4bd96d57b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        1216,
        208
      ],
      "id": "6d87e0a4-0bdd-4f8e-b45b-0d8d83402b59",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "GMFwfsE9hwA0FvTA",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the company FAQ and support documentation",
        "memoryKey": {
          "__rl": true,
          "value": "support_kb",
          "mode": "list",
          "cachedResultName": "support_kb"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1232,
        352
      ],
      "id": "dc993e5c-f832-4443-97a3-30bbb3ce1145",
      "name": "knowledge_base"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1232,
        480
      ],
      "id": "e6e5264e-64bc-47c9-ad40-805350e3f893",
      "name": "Embeddings OpenAI",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "r4RrOSR4e9zjMBJY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ae0afa2d-2008-4809-9102-2ac12e25b403",
              "leftValue": "={{ $json.output.grounded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "2bd33436-0e97-4985-ab19-ee550953188a",
              "leftValue": "={{ $json.output.confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        0
      ],
      "id": "3494bbbb-0635-4d43-82a6-756989022048",
      "name": "Grounded & Confident?"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Merge').item.json.message_id }}",
        "emailType": "text",
        "message": "={{ $('Merge').item.json.output.reply }}",
        "options": {
          "replyToSenderOnly": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        -32
      ],
      "id": "bf64cf42-d69d-4bc9-bc3f-4feef5365418",
      "name": "Send Reply",
      "webhookId": "6ae3c797-0cf4-446e-aada-6b87cac50e43",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "gmailOAuth2": {
          "id": "dgxP8cbakEmlFjLB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        0
      ],
      "id": "d4711c11-68e8-4462-b3b0-14b7cac24fca",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d7c92a8c-4dbd-4fbd-afd5-aa84299e5b13",
              "leftValue": "={{ $json.output.confidence }}",
              "rightValue": 0.85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2032,
        -16
      ],
      "id": "5ed5291e-eebc-4a25-be70-31b9728589f5",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "YOUR_CHAT_ID",
        "message": "=ticket summary + {{ $json.output.reply }}",
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        192
      ],
      "id": "d0c1c0f8-1ca3-4aee-8c11-3320c40731b6",
      "name": "Ask For Approval",
      "webhookId": "0aea34e1-d37a-43f7-8ba6-32e3cf9bf66e",
      "credentials": {
        "telegramApi": {
          "id": "NXmwDm2dkd6Et2ne",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e94d0fce-5a1f-48db-aedd-bed41a9995dc",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2352,
        192
      ],
      "id": "f92faf0a-a360-4654-8f03-41d4cf0b2a65",
      "name": "Approved?"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "EQRpM4co0fjUQScA",
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "/projects/YS4XJco571paiFmW/datatables/EQRpM4co0fjUQScA"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_id",
              "keyValue": "={{ $('Merge').item.json.message_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $('Ask For Approval').isExecuted ? 'approved_sent' : 'auto_sent' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "answerable",
              "displayName": "answerable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2816,
        -32
      ],
      "id": "c53e008a-f700-42d2-8c54-419d43db6908",
      "name": "Update auto_sent"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "EQRpM4co0fjUQScA",
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "/projects/YS4XJco571paiFmW/datatables/EQRpM4co0fjUQScA"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "message_id",
              "keyValue": "={{ $('Insert row').item.json.message_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "escalated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "answerable",
              "displayName": "answerable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2352,
        -240
      ],
      "id": "82b4352d-b7f4-48c5-adec-fc51bdc77f1d",
      "name": "Update Escalated"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Normalize Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Ticket": {
      "main": [
        [
          {
            "node": "Skip If Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Already Processed": {
      "main": [
        [
          {
            "node": "Classify Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classify Ticket",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Ticket",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify Ticket": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Route Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Ticket": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Draft Reply",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Draft Reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "Draft Reply",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Draft Reply": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grounded & Confident?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Grounded & Confident?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask For Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask For Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        [
          {
            "node": "Update auto_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update auto_sent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "keXlJuYjB8UAYOaQ"
  },
  "versionId": "1fdfd63f-fecb-42ef-ba9c-bcb2073ad734",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eacdc822ba117711b8e7f214466bffde820b72f8e61b66b6ad8ddae7e1adbc28"
  },
  "nodeGroups": [],
  "id": "QeNG4lw6YSeCN6bF",
  "tags": []
}